.opacity-clicked:hover {
    cursor: pointer;
    opacity: 50%;
    /* Light green on hover for better UX */
}
.opacity-clicked:active {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
}
#contact_us {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0075FF; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
}

#contact_us:hover {
    cursor: pointer;
    background-color: #0056b3; /* Darker green */
}
#contact_us:active {
    background-color: #0056b3; /* Even darker green */
    transform: translateY(1px);
}