.opacity-clicked:hover {
    cursor: pointer;
    opacity: 50%;
    /* Light green on hover for better UX */
}
.opacity-clicked:active {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
}